<div>
    <div class="titulo">
        <h1 class="card-title titulos" contenteditable="false">Acerca de</h1>
        
        <div 
            class="iconos-edicion"
            *ngIf="loggin"
            >
            <app-icon-edit 
                class="icon-edit"
                (click)="onEdit('about-paragraph')"
            ></app-icon-edit>
            <app-icon-delete
                (click)="onDelete(persona)"
            >
            </app-icon-delete>
        </div>
        
    </div>
    
    <p 
        class="card-text" 
        id="about-paragraph"
        *ngIf="!loggin"
        >{{persona.acerca}}
    </p>

    <form 
        class="card add-form" 
        [formGroup]="aboutForm"
        *ngIf="loggin"
        >

            <textarea 
                class="card-text form-control" 
                formControlName="textoAcerca"
                name="" 
                id="texto-acerca" 
                style="min-width: 100%" 
                rows="3" 
                [(ngModel)]="persona.acerca"
                >   
            </textarea>
    
    </form>
    

</div>