<header class="container-header">
    <h1 class="card-title"> Cavallini Nestor Daniel</h1>

    <div class="icons">
        <app-icon-network
        icon="../../../assets/icons/github-logo-24.png"
        url="http://www.github.com/NestorCava"
        padding="15px"
        >
        </app-icon-network>

        <app-icon-network
        icon="../../../assets/icons/linkedin-square-logo-24.png"
        url="http://www.linkedin.com/in/nestor-daniel-cavallini"
        padding="15px"
        >
        </app-icon-network>

        <app-icon-user
            icon="../../../assets/icons/user-rectangle-solid-24.png"
            url=""
            padding="15px"
        >
            
        </app-icon-user>
    </div>
</header>
