<header class="container-header">
    <h1 class="card-title"> Cavallini Nestor Daniel</h1>

    <div class="icons">
        <app-icon-network
            *ngFor="let icon of people[0].networks"
            [icon]="icon[0]"
            [url]="icon[1]"
            padding="15px"
        >
        </app-icon-network>

        <app-icon-user
            icon="../../../assets/icons/user-rectangle-solid-24.png"
            url=""
            padding="15px"
        >
            
        </app-icon-user>
    </div>
</header>
