<div class="card container-seccion">

    <img 
        class="card-img-top"
        src="../../../assets/img/baner_back.jpg" 
        id="banner-header"
        alt="Banner Cavallini Nestor"
    >

    

    <div class="card-columns" id="info-header">
        
        <div class="col-5" id="encabezado">
            
            <div class="card-img" id="contenedor-foto">
        
                <img 
                    src="../../../assets/img/perfil.jpg" 
                    id="profile-picture"    
                    alt="Cavallini Néstor D Foto de Perfil "
                >
                
                <app-icon-edit id="edit-photo"></app-icon-edit>
                
                
            </div>

            <div id="datos-personales"><ul class="list-unstyled" id="list-personal-info">
                <li><h1>{{people.name + ' '+ people.second_name}}</h1></li>
                <li><h4 class="card-subtitle">{{people.position}}</h4></li>
                <li><h4 class="card-subtitle">{{people.location}}</h4></li>
                <li><app-icon-network
                    *ngFor="let icon of people.networks"
                    [icon]="icon[0]"
                    [url]="icon[1]"
                    padding="15px"
                    [texto]="icon[1]"
                >
                </app-icon-network></li>    
            </ul>
            <app-icon-edit></app-icon-edit></div>
            
        </div>
        
        <div class="col-7">
            <app-about>
                
            </app-about>
        </div>
        
    </div>
</div>