<div class="card container-seccion">
    <div class="titulo">
        <h1 class="card-title titulos">Experiencia</h1>
    </div>
    
    <div class="container-item">
        <app-experience-item
        *ngFor="let experiencia of persona.experiencias"
        [experiencia]= "experiencia"
        (onDeleteExperiencia)="deleteExperiencia(experiencia)"
        ></app-experience-item>
    </div>
    <h1 class="card-title titulos">Educación</h1>
    <div class="container-item">
        <app-education-item
        *ngFor="let e of persona.educacion"
        [educacion]= "e"
        (onDeleteEducacion)="deleteEducacion(e)"
        >
        </app-education-item>
    </div>
    
</div>