<div 
    class="card container-seccion"
    >
    <div 
        class="titulo"
        >
            <h1 
                class="card-title titulos" 
                contenteditable="false"
                >
                    Proyectos
            </h1>
        
            <app-icon-edit 
                class="icon-edit"
                *ngIf="loggin"
            ></app-icon-edit>
        
    </div>

    <app-proyecto-item
        *ngFor="let proyecto of persona.proyectos"
        [proyecto]="proyecto"
        (onDeleteProyecto)="deleteProyecto(proyecto)"
        (onEditProyecto)="editProyecto(proyecto)"
    ></app-proyecto-item>

</div>