<div 
    class="proyecto-item"
    >
    
    <div 
        class="iconos-edicion"
        *ngIf="loggin"
        >
        <app-icon-edit 
            class="icon-edit"
            (click)="onEdit()"
        ></app-icon-edit>
        <app-icon-delete
            (click)="onCancelEdition()" 
        ></app-icon-delete>
    </div>
    
    <div 
        class="card"
        >
        <div class="card-body">
            <h3 
                class="card-title" 
                id="titulo-proyecto{{proyecto.id}}"
                style="font-weight: bold;"
                >
                    <span *ngIf="!loggin">{{proyecto.titulo}}</span>

                    <form 
            class="card add-form" 
            [formGroup]="proyectoForm"
            *ngIf="loggin"
              >
              <div class="input-group">
                <span class="input-group-text">Titulo</span>
                <textarea type="text" class="form-control" 
                formControlName="proyectoTituloInput"
                id="proyectoTituloInput" 
                placeholder="Titulo"
                [(ngModel)]="proyecto.titulo"></textarea>
              </div>
            </form>
            </h3>
            <h5 
                class="card-title"
                id="descripcion-proyecto{{proyecto.id}}"
                >
                    <span *ngIf="!loggin">{{proyecto.descripcion}}</span>

                    <form 
            class="card add-form" 
            [formGroup]="proyectoForm"
            *ngIf="loggin"
              >
              <div class="input-group">
                <span class="input-group-text">Titulo</span>
                <textarea type="text" class="form-control" 
                formControlName="proyectoDescripcionInput"
                id="proyectoDescripcionInput" 
                placeholder="Descripcion"
                [(ngModel)]="proyecto.descripcion"></textarea>
              </div>
            </form>
            </h5>
        </div>
    </div>
    
</div>
