<div id="icono-edicion-item-experiencia" style="max-width: 720px;">
  <div 
    class="iconos-edicion"
    *ngIf="loggin">

    <app-icon-edit 
      class="icon-edit"
      (click)="onEdit()"
    ></app-icon-edit>

    <app-icon-delete
      (click)="onCancelEdition()"
    ></app-icon-delete>

  </div>
</div>

<div class="card mb-3" style="max-width: 720px;">

    <div 
      class="row g-0"
    >
      <div 
        class="col-md-4" 
        id="div-logo-experience"
      >
       

      </div>
      
      <div 
        class="col-md-8"
      >
        <div 
          class="card-body"
        >
          <h3 
            class="card-title" 
            style="font-weight: bold;"
          >
            <div *ngIf="!loggin">
              <span id="empresa-experiencia{{experiencia.id}}" >{{experiencia.empresa}}</span>
              <span> - </span>
              <span id="cargo-experiencia{{experiencia.id}}">{{experiencia.cargo}}</span>
            </div>

            <form 
              class="card add-form" 
              [formGroup]="experienciaForm"
              *ngIf="loggin"
              >
                <div class="input-group">
                  <span
                    class="input-group-text">
                      Empresa
                  </span>
                  <input 
                    type="text" class="form-control" 
                    formControlName="empresaInput"
                    id="empresaInput" 
                    placeholder="Empresa"
                    [(ngModel)]="experiencia.empresa"
                  >
                </div>
                <div class="input-group">
                  <span
                    class="input-group-text">
                      Cargo
                  </span>
                  <input 
                    type="text" class="form-control" 
                    formControlName="cargoInput"
                    id="cargoInput" 
                    placeholder="Cargo"
                    [(ngModel)]="experiencia.cargo"
                  >
                </div>
            </form>
          </h3>
          
          <h5 
            class="card-title"
          >
            <div *ngIf="!loggin">
              <span id="fecha-inicio-experiencia{{experiencia.id}}">{{experiencia.fecha_inicio}}</span>
              <span> - </span>
              <span id="fecha-fin-experiencia{{experiencia.id}}">{{experiencia.fecha_fin}}</span>
            </div>
            

            <form 
              class="card add-form" 
              [formGroup]="experienciaForm"
              *ngIf="loggin"
              >
                <div class="input-group">
                  <span
                    class="input-group-text">
                      Fecha Inicio
                  </span>
                  <input 
                    type="date" class="form-control" 
                    formControlName="fechaInicioInput"
                    id="fechaInicioInput" 
                    placeholder="Fecha Inicio"
                    [(ngModel)]="experiencia.fecha_inicio"
                  >
                </div>
                <div class="input-group">
                  <span
                    class="input-group-text">
                      Fecha Fin
                  </span>
                  <input 
                    type="date" class="form-control" 
                    formControlName="fechaFinInput"
                    id="fechaFinInput" 
                    placeholder="Fecha Fin"
                    [(ngModel)]="experiencia.fecha_fin"
                  >
                </div>
            </form>
          </h5>

          <p 
            class="card-text"
          >
            <small 
              class="text-muted"
              id="descripcion-experiencia{{experiencia.id}}"
            >
              <span *ngIf="!loggin">{{experiencia.descripcion}}</span>

          <form 
            class="card add-form" 
            [formGroup]="experienciaForm"
            *ngIf="loggin"
              >
              <div class="input-group">
                <span class="input-group-text">Descripción</span>
                <textarea type="text" class="form-control" 
                formControlName="descripcionInput"
                id="descripcionInput" 
                placeholder="Descripción de las tareas realizadas"
                [(ngModel)]="experiencia.descripcion"></textarea>
              </div>
            </form>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>