<div 
    class="card container-seccion"
    >
    
    <div 
        class="titulo"
        contenteditable="false"
        >
        
        <h1 
            class="card-title titulos"
            >
                Hard Skills and Soft Skills
        </h1> 
        
        <app-icon-edit 
            class="icon-edit"
        ></app-icon-edit>
    
    </div>
    
    <div class="container-skills-item row">
        <app-skills-item 
            class="col-2"
            *ngFor="let skill of persona.skills"
            [skill]="skill"
            (onDeleteSkill)="deleteSkill(skill)"
        ></app-skills-item>
    </div>
  
</div>