<div id="icono-edicion-item-educacion" style="max-width: 720px;">
  
  <div 
    class="iconos-edicion"
    *ngIf="loggin"
  >
    <app-icon-edit 
      class="icon-edit"
      (click)="onEdit()"
    ></app-icon-edit>
    
    <app-icon-delete
      (click)="onCancelEdition()"
    ></app-icon-delete>
  
  </div>

  </div>
    <div 
      class="card mb-3" 
      style="max-width: 720px;"
      >
  
      <div 
        class="row g-0"
        >
      
        <div 
          class="col-md-4" 
          id="div-logo-education"
          >
        </div>
      
        <div 
          class="col-md-8"
          >
          <div class="card-body">
            <h3 
              class="card-title" 
              id="titulo-educacion{{educacion.id}}" 
              style="font-weight: bold;"
              >
                <span *ngIf="!edition_mode">{{educacion.titulo}}</span>

                <form 
              class="card add-form" 
              [formGroup]="educacionForm"
              *ngIf="edition_mode"
              >
                <div class="input-group">
                  <span
                    class="input-group-text">
                      Titulo
                  </span>
                  <input 
                    type="text" class="form-control" 
                    formControlName="tituloInput"
                    id="tituloInput" 
                    placeholder="Empresa"
                    [(ngModel)]="educacion.titulo"
                  >
                </div>
              </form>
            </h3>
          
            <h5 
              class="card-title" 
              id="institucion-educacion{{educacion.id}}"
              >
                <span *ngIf="!edition_mode">{{educacion.institucion}}</span>

                <form 
                  class="card add-form" 
                  [formGroup]="educacionForm"
                  *ngIf="edition_mode"
                  >
                    <div class="input-group">
                      <span
                        class="input-group-text">
                          Institución
                      </span>
                      <input 
                        type="text" class="form-control" 
                        formControlName="institucionInput"
                        id="institucionInput" 
                        placeholder="Institución"
                        [(ngModel)]="educacion.institucion"
                      >
                    </div>
                  </form>
            </h5>
            
            <h5>
              <div 
              class="card-text"
              *ngIf="!edition_mode"
              >
                <span id="fecha-inicio-educacion{{educacion.id}}">{{educacion.fecha_inicio}}</span>
                <span> - </span>
                <span id="fecha-fin-educacion{{educacion.id}}">{{educacion.fecha_fin}}</span>
          </div>
            
            
              <form 
              class="card add-form" 
              [formGroup]="educacionForm"
              *ngIf="edition_mode"
              >
                <div class="input-group">
                  <span
                    class="input-group-text">
                      Fecha Inicio
                  </span>
                  <input 
                    type="text" class="form-control" 
                    formControlName="fechaInicioInput"
                    id="fechaInicioInput" 
                    placeholder="Fecha Inicio"
                    [(ngModel)]="educacion.fecha_inicio"
                  >
                </div>
                <div class="input-group">
                  <span
                    class="input-group-text">
                      Fecha Fin
                  </span>
                  <input 
                    type="text" class="form-control" 
                    formControlName="fechaFinInput"
                    id="fechaFinInput" 
                    placeholder="Fecha Fin"
                    [(ngModel)]="educacion.fecha_fin"
                  >
                </div>
            </form>
            </h5>
            
            
            <p 
              class="card-text"
              >
              <small 
                class="text-muted" 
                id="mensiones-educacion{{educacion.id}}"
                >
                <span *ngIf="!edition_mode">{{educacion.mensiones}}</span>

                <form 
            class="card add-form" 
            [formGroup]="educacionForm"
            *ngIf="edition_mode"
              >
              <div class="input-group">
                <span class="input-group-text">Mensiones</span>
                <textarea type="text" class="form-control" 
                formControlName="mensionesInput"
                id="mensionesInput" 
                placeholder="Mensiones"
                [(ngModel)]="educacion.mensiones"></textarea>
              </div>
            </form>
              </small>
            </p>
        </div>
      </div>
      
    </div>
    
  </div>