div#div-logo-education{
    margin: auto;
    background-color: rgb(12, 12, 12);
}

img#image-logo-education{
    width: 115px;
    height: 100px;
    
    
}

div#icono-edicion-item-educacion{
    display:flex;
    justify-content: flex-end;
}