<div class="container-fluid">

    <app-header 
      [persona]="persona"
      contenteditable="false"
    ></app-header>
  
    <div class="portfolio">
      <app-portfolio-header 
        [persona]="persona"
        (uploadAboutPersona)="updateAbout(persona)"
        (updatePersona)="update(persona)"
      ></app-portfolio-header>

      <app-experience-education 
        [persona]="persona"
        (updatePersona)="update(persona)"
      ></app-experience-education>

      <app-skills 
        [persona]="persona"
        (updatePersona)="update(persona)"
      ></app-skills>

      <app-projects 
        [persona]="persona"
        (updatePersona)="update(persona)"
      ></app-projects>
    </div>
  
  </div>