*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.container-seccion{
    background-color: #f4f4f4;
    border-style: solid;
    border-color: dimgray;
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow:2px 2px 2px darkgray;
    padding-bottom: 10px;

    
}
div.titulo{
    display: flex;
    justify-content: space-between;
}

h1.titulos{
    padding-left: 10px;
    
}

.icon-edit{
    margin: 5px;
}
